/* reseteo del body y html para trabajar al 100 por 100 */
*{
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    margin: 1%;
    padding: 0%;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5em;

}

#logo{
    font-family: "Cabin", sans-serif;
    font-style: normal;   
    font-weight: normal; 
    font-size: 32px;
    line-height: 56px;
    color: rgba(20, 20, 28, 0.800);
}

.menu {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    list-style: none;
    width: 650px;
    height: 100px;
    padding: 15px;
    margin: 2em;
    font-family: 'Noto Sans', sans-serif;
    Top: 10px;
   Left: 678px;
    


}

button{

background-color: #71A894 ;
color:#E5E5E5 ;
font-family: 'Noto Sans', sans-serif ;
 width: 219px;
height: 100px;
padding: 10px;
margin-top: 40px;
border-radius: 4px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 ,h2{ 
    font-family: 'Yeseva One', cursive;
    font-style: normal;   
    font-weight: normal; 
    font-size: 48px;
    line-height: 64px;
    }

p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
}    

.caja1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px; 
}


.columna  {
    display: flex;
    flex-direction: column;    
    height: 200px;
    width: 460px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgPortada{
display: flex;
align-content: center;
justify-content: center;
}

.portada , .imgPortada , .columna{
    margin: 0.5em;
}

.section-1{
    display: block;
    margin-bottom: 400px;
    margin-left: 1000px;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-right: 250px;  
    margin-left: -200px;
    width: 1000px;
    height: 42;
    Top :1200px;
    Left: 273px;
}

.cards{
   display: flex;
   flex-wrap: row;
   justify-content: center;
   text-align: center;  
   margin-right: 1100px;
} 

.widget1{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 464;
    margin: 50px;
    
}
.widget2 {
width: 484px;
height: 400px;
left: 836px;
top: 1764px;
background: #71A894;
border-radius: 16px;
box-sizing: border-box;
border-radius: 16px;
}

 .section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4em; 
    margin-top: 200px; 
 }

 .proposalWidget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: 334px;
    left: 742px;
    top: 200px;
 }

  .contenedorGral{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4em; 
 }

 .row-1{
       width: 680px;
    height: 334px;
    left: 742px;
    margin-left: 350px;
    

     
 }
 .row-2{ 
    flex-wrap: wrap;    
    justify-content: space-between; 
    Width: 644px;
   Height: 500px;
Top: 2880px;
Left: 740px;
}    

 #button{ 
    display: flex;
flex-direction: column;
align-items: center;
padding: 20px 24px;
position: absolute;
width: 136px;
height: 64px;
left: calc(50% - 136px/2 + 0.5px);
top: 4016px;
margin-top: 80px;
background: #303031;
border-radius: 8px;
 }

 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 250px;   
}
a{
    color: black ;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    list-style: none;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 0.5em;
    font-family: 'Noto Sans', sans-serif;
    
}



